<!-- header start -->
<nav class="navbar navClass">
    <h1 class="heading">Book Store</h1>
  </nav>
  <!-- header-end -->
  
  <!-- form Start -->
  <div class="mt-2">
    <h3>Form</h3>
    <form [formGroup]="bookFrom">
      <div class="row">
        <div class="col-2">
          <input type=text placeholder="Enter Title" class="form-control" formControlName="title">
        </div>
        <div class="col-2">
          <input type=text placeholder="Enter Author" class="form-control" formControlName="author">
        </div>
        <div class="col-2">
          <input type=text placeholder="Enter Publisher" class="form-control" formControlName="publisher">
        </div>
        <div class="col-2">
          <input type=text placeholder="Enter Genre" class="form-control" formControlName="genre">
        </div>
        <div class="col-2">
          <input type=text placeholder="Enter Price" class="form-control" formControlName="price">
        </div>
        <div class="col-2">
          <button  *ngIf="add" class="btn btn-primary" (click)="addDataIntoTable()" [disabled]=bookFrom.invalid>Add</button>
          <button  *ngIf="update" class="btn btn-primary mt-2" (click)="updateData()"  [disabled]=bookFrom.invalid>Update</button>
        </div>
      </div>
    </form>
  </div>
 <!-- form end -->

  <div class="mt-2">
    <h3>Table</h3>
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">SNo.</th>
          <th scope="col">Title</th>
          <th scope="col">Author</th>
          <th scope="col">Publisher</th>
          <th scope="col">Genre</th>
          <th scope="col">Price</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let element of bookstoreData; index as i">
          <th scope="row">{{i+1}}</th>
          <td>{{element.title}}</td>
          <td>{{element.author}}</td>
          <td>{{element.publisher}}</td>
          <td>{{element.genre}}</td>
          <td>{{element.price}}</td>
          <td><button class="btn btn-warning" (click)="editData(element,i)">Edit</button>
            <button class="btn btn-danger m-2" (click)="deleteData(i)">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  
  <!-- <button class="btn btn-danger m-2" (click)="nextTask()">Next</button> -->